<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.example.demo.mapper.AttendanceMapper">

    <resultMap id="AttendanceMap" type="com.example.demo.entity.AttendanceEntity">
        <id column="id" property="id"/>
        <result column="klass_seminar_id" property="klass_seminar_id"/>
        <result column="team_order" property="team_order"/>
        <result column="report_name" property="report_name"/>
        <result column="report_url" property="report_url"/>
        <result column="ppt_name" property="ppt_name"/>
        <result column="ppt_url" property="ppt_url"/>
        <association property="team" column="team_id" select="CommonMapper.selectTeam"/>
    </resultMap>

    <select id="findKlassSeminarId" resultType="java.lang.Long">
        SELECT id FROM klass_seminar WHERE klass_id=#{classId} AND seminar_id=#{seminarId}
    </select>

    <select id="getCourseBySeminarId" resultType="java.lang.Long">
        SELECT course_id FROM seminar WHERE id=#{seminarId}
    </select>

    <select id="findAllTeam" resultMap="AttendanceMap">
        SELECT * FROM attendance WHERE klass_seminar_id= #{klassSeminarId} ORDER BY team_order ASC
    </select>

    <select id="getAttendanceById" resultMap="AttendanceMap">
        select * from attendance where id=#{attendanceId}
    </select>

    <insert id="signUp">
        insert into attendance(klass_seminar_id,team_id,team_order) values(#{klassSeminarId},#{teamId},#{presentationOrder})
    </insert>

    <update id="postReport">
        update attendance set report_name=#{report_name},report_url=#{report_url} where id=#{attendanceId}
    </update>

    <update id="changeOrder">
        update attendance set team_order=#{presentationOrder} where id=#{attendanceId}
    </update>

    <update id="setStatus">
        update attendance set is_present=#{status} where id=#{attendanceId}
    </update>

    <delete id="deleteSignUp">
        DELETE FROM attendance WHERE id=#{attendanceId}
    </delete>



</mapper>