<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CourseMapper">

    <insert id="createCourse">
        insert into course (teacher_id,course_name,introduction,presentation_percentage,question_percentage,report_percentage,team_start_time,team_end_time) values (#{teacherId},#{courseName},#{introduction},#{pPercent},#{qPercent},#{rPercent},#{teamStartTime},#{teamEndTime});
    </insert>

    <select id="getCourseId" resultType="java.lang.Long">
        select id from course where teacher_id=#{teacherId} and course_name=#{courseName};
    </select>

    <select id="getTeacherId" resultType="java.lang.Long">
        select teacher_id from course where id =#{courseId};
    </select>

    <select id="getTeamMainCourseId" resultType="java.lang.Long">
        select team_main_course_id from course where id =#{courseId};
    </select>

    <select id="getAllExistCourse" resultMap="CommonMapper.CourseMap">
        select * from course ;
    </select>

    <select id="getCourseById" resultMap="CommonMapper.CourseMap">
        select * from course where id=#{courseId};
    </select>

    <select id="getCoursesByTeacherId" resultMap="CommonMapper.CourseMap">
        select * from course where teacher_id=#{teacherId};
    </select>

    <select id="getTeamEndTime" resultType="java.util.Date">
        select team_end_time from course where id=#{courseId};
    </select>

    <update id="deleteTeamMainCourseId">
        update course set team_main_course_id = null where id = #{courseId};
    </update>

    <update id="deleteSeminarMainCourseId">
        update course set seminar_main_course_id = null where id = #{courseId};
    </update>

    <update id="setTeamMainCourseId">
        update course set team_main_course_id = #{teamMainCourseId} where id =#{courseId};
    </update>

    <delete id="deleteCourse">
        delete from course where id=#{courseId};
    </delete>


    <!--round表-->
    <select id="getRoundByCourseId" resultMap="CommonMapper.RoundMap">
        select * from round where course_id=#{courseId} order by round_serial;
    </select>


    <!--连表查询-->
    <select id="getTeamIdByCourseId" resultType="java.lang.Long">
        select klass_team.team_id from klass_team LEFT JOIN klass_student on klass_team.klass_id=klass_student.klass_id
        where klass_student.course_id=#{courseId} group by klass_team.team_id;
    </select>

</mapper>