<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.KlassMapper">
    <select id="getKlassById" resultType="com.example.demo.entity.ClassEntity">
        select * from klass where id=#{klassId}
    </select>

    <select id="getAllKlassId" resultType="java.lang.Long">
        select id from klass where course_id=#{courseId}
    </select>

    <insert id="createKlass">
        insert into klass(course_id,grade,klass_serial,klass_time,klass_location) values (#{courseId},#{grade},#{klassSerial},#{klassTime},#{klassLocation})
    </insert>

    <insert id="createStudent">
        insert into student(account,password,is_active,student_name) values (#{param1},#{param2},#{param3},#{param4})
    </insert>

    <insert id="insertStudentIntoKlassStudent">
        insert into klass_student(klass_id,student_id,course_id) values (#{param1},#{param2},#{param3})
    </insert>

    <select id="getKlassId" resultType="java.lang.Long">
        select id from klass where course_id=#{courseId} and grade=#{grade} and klass_serial=#{klassSerial}
    </select>

    <select id="selectStudentByAccount" resultType="com.example.demo.entity.StudentEntity">
        select * from student where account=#{account}
    </select>

    <select id="getKlassSerial" resultType="java.lang.Integer">
        select klass_serial from klass where id=#{klassId}
    </select>

    <delete id="deleteKlass">
        delete from klass where id = #{klassId}
    </delete>
</mapper>