<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.example.demo.mapper.KlassStudentMapper">

    <select id="getKlassIdByStudentId" resultType="java.lang.Long">
        select klass_id from klass_student where course_id=#{param1} and student_id=#{param2};
    </select>

    <select id="getNoTeamStudentsId" resultType="java.lang.Long">
        select student_id from klass_student where course_id = #{courseId} and team_id is null;
    </select>

    <select id="getCoursesIdByStudentId" resultType="java.lang.Long">
        select course_id from klass_student where student_id = #{studentId};
    </select>


    <!--team_student表-->
    <insert id="addTeamMember">
        insert into  team_student(team_id,student_id) values(#{param2},#{param1});
    </insert>

    <select id="getStudentIdByTeamId" resultType="java.lang.Long">
        select student_id from team_student where team_id=#{teamId};
    </select>

    <delete id="deleteTeamMember">
        delete from team_student  where team_id=#{param2} and student_id=#{param1};
    </delete>


    <!--连表查询-->
    <select id="getTeamId" resultType="java.lang.Long">
        select klass_team.team_id from klass_team LEFT JOIN team_student on klass_team.team_id=
        team_student.team_id where klass_team.klass_id=#{klassId} and team_student.student_id=#{studentId};
    </select>

</mapper>