<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.example.demo.Mapper.QuestionMapper">

    <resultMap id="QuestionMap" type="com.example.demo.Entity.QuestionEntity">
        <id column="id" property="id"/>
        <result column="klass_seminar_id" property="klass_seminar_id"/>
        <result column="attendance_id" property="attendance_id"/>
        <result column="is_selected" property="is_selected"/>
        <result column="score" property="score"/>
        <association property="team" column="team_id" select="CommonMapper.selectTeam"/>
        <association property="student" column="student_id" select="CommonMapper.selectStudent"/>
    </resultMap>


    <select id="getAllQuestion" resultMap="QuestionMap">
        SELECT * FROM question WHERE klass_seminar_id=#{klassSeminarId} and is_selected=1
    </select>

    <select id="getQuestion" resultMap="QuestionMap">
        SELECT * FROM question WHERE attendance_id=#{param1} and team_id!=#{param2} and is_selected=0 ORDER BY RAND() LIMIT 1
    </select>

    <insert id="askQuestion">
        insert into question(klass_seminar_id,attendance_id,team_id,student_id) values (#{klassSeminarId},#{attendanceId},#{teamId},#{studentId})
    </insert>

    <update id="score">
        update question set score=#{score},is_selected=1 where id=#{questionId}
    </update>

</mapper>