<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.example.demo.mapper.SeminarMapper">

    <resultMap id="seminarMap" type="com.example.demo.entity.SeminarEntity">
        <id column="id" property="id"/>
        <result column="seminar_name" property="seminar_name"/>
        <result column="introduction" property="introduction"/>
        <result column="max_team" property="max_team"/>
        <result column="is_visible" property="is_visible"/>
        <result column="seminar_serial" property="seminar_serial"/>
        <result column="enroll_start_time" property="enroll_start_time"/>
        <result column="enroll_end_time" property="enroll_end_time"/>
        <association column="course_id" property="course" select="CommonMapper.selectCourse"/>
        <association column="round_id" property="round" select="CommonMapper.selectRound"/>
    </resultMap>

    <resultMap id="SeminarScoreMap" type="com.example.demo.entity.SeminarScoreEntity">
        <id column="klass_seminar_id" property="klass_seminar_id"/>
        <result column="total_score" property="total_score"/>
        <result column="presentation_score" property="presentation_score"/>
        <result column="report_score" property="report_score"/>
        <result column="question_score" property="question_score"/>
        <association property="team" column="team_id" select="CommonMapper.selectTeam"/>
    </resultMap>

    <insert id="createSeminar">
        insert into seminar(course_id,round_id,seminar_name,introduction,max_team,is_visible,seminar_serial,enroll_start_time,enroll_end_time)
        values (#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8},#{param9});
    </insert>

    <select id="returnId" resultType="java.lang.Long">
        select id from seminar where course_id=#{param1} and round_id=#{param2} and seminar_serial=#{param3};
    </select>

    <select id="getSeminarBySeminarId" resultMap="seminarMap">
        select * from seminar where id=#{seminarId};
    </select>

    <update id="setRound">
        update seminar set round_id=#{param2} where id=#{param1};
    </update>

    <update id="changeSeminar">
        update seminar set course_id=#{param1},
                            seminar_name=#{param2},
                            introduction=#{param3},
                            max_team=#{param4},
                            is_visible=#{param5},
                            enroll_start_time=#{param6},
                            enroll_end_time=#{param7} where id=#{param8};
    </update>

    <select id="getMaxSerial" resultType="java.lang.Integer">
        select max(seminar_serial) from seminar where course_id=#{courseId};
    </select>

    <delete id="deleteSeminar">
        delete from seminar where id=#{seminarId};
    </delete>


    <!--seminar_score表-->
    <insert id="setPresentationScore">
        insert into seminar_score(klass_seminar_id,team_id,presentation_score) values (#{param1},#{param2},#{param3});
    </insert>

    <insert id="createQuestionScore">
        insert into seminar_score(klass_seminar_id,team_id,question_score) values (#{param1},#{param2},#{param3});
    </insert>

    <select id="getScoreByKlassSeminarIdAndTeamId" resultMap="SeminarScoreMap">
        select * from seminar_score where klass_seminar_id=#{param1} and team_id=#{param2};
    </select>

    <select id="findPresentation" resultType="java.lang.String">
        select presentation_score from seminar_score where klass_seminar_id=#{param1} and team_id=#{param2};
    </select>

    <update id="setReportScore">
        update seminar_score set report_score=#{param3} where klass_seminar_id=#{param1} and team_id=#{param2};
    </update>

    <update id="setQuestionScore">
        update seminar_score set question_score=#{param3} where klass_seminar_id=#{param1} and team_id=#{param2};
    </update>

    <update id="updatePresentationScore">
        update seminar_score set presentation_score=#{param3} where klass_seminar_id=#{param1} and team_id=#{param2};
    </update>


    <!--klass_seminar表-->
    <insert id="insertIntoKlassSeminar">
        insert into klass_seminar(klass_id,seminar_id,status) values (#{param1},#{param2},#{param3});
    </insert>

    <select id="getKlassSeminarIdByClassIdAndSeminarId" resultType="java.lang.Long">
        select id from klass_seminar where klass_id=#{param1} and seminar_id=#{param2};
    </select>

    <select id="getClassIdBySeminarId" resultType="java.lang.Long">
        SELECT klass_id from klass_seminar where seminar_id=#{seminarId};
    </select>

    <select id="getStatus" resultType="java.lang.Integer">
        select status from klass_seminar where seminar_id=#{param1} and klass_id=#{param2};
    </select>

    <update id="changeReportDDL">
        update klass_seminar set report_ddl=#{param3} where seminar_id=#{param1} and klass_id=#{param2};
    </update>

    <update id="setStatus">
        update klass_seminar set status=#{param3} where seminar_id=#{param1} and klass_id=#{param2};
    </update>


    <!--team表-->
    <select id="getClassIdByTeamId" resultType="java.lang.Long">
        SELECT klass_id from team where id=#{teamId};
    </select>


    <!--question表-->
    <select id="getAllTeamId" resultType="java.lang.Long">
        select team_id from question where klass_seminar_id=#{param1} and is_selected=1 group by team_id;
    </select>

    <select id="getScoreByTeamId" resultType="java.lang.Double">
        select max(score) from question where team_id=#{param1};
    </select>

</mapper>