<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.example.demo.mapper.StudentMapper">

    <select id="getAllStudent" resultType="com.example.demo.entity.StudentEntity" >
        SELECT * FROM student
    </select>

    <select id="searchStudentByAccount" resultType="com.example.demo.entity.StudentEntity" >
        SELECT * FROM student WHERE account =#{account }
    </select>

    <select id="searchStudentByName" resultType="com.example.demo.entity.StudentEntity">
        SELECT * FROM student WHERE student_name =#{student_name }
    </select>

    <update id="putStudentInfo">
        update student set account=#{account},student_name=#{student_name},email=#{email} where id=${studentId}
    </update>

    <update id="putStudentPassword">
        update student set password="123456" where id=${studentId}
    </update>

    <delete id="deleteStudent">
        delete FROM student where id=${studentId}
    </delete>

    <update id="activateStudent">
        update student set is_active=1,password=#{password},email=#{email} where id=${studentId}
    </update>

    <select id="selectStudentById" resultType="com.example.demo.entity.StudentEntity">
        SELECT * FROM student WHERE id=#{studentId}
    </select>

</mapper>