<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="StudentMap" type="com.example.demo.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="account" property="Username"/>
        <result column="password" property="password"/>
        <result column="is_active" property="is_active"/>
        <result column="student_name" property="name"/>
    </resultMap>

    <resultMap id="TeacherMap" type="com.example.demo.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="account" property="Username"/>
        <result column="password" property="password"/>
        <result column="is_active" property="is_active"/>
        <result column="teacher_name" property="name"/>
    </resultMap>

    <select id="findFromStudent" resultMap="StudentMap">
        select id,account,password,is_active,student_name from student where account=#{account}
    </select>

    <select id="findFromTeacher" resultMap="TeacherMap">
        select id,account,password,is_active,teacher_name from teacher where account=#{account}
    </select>

    <select id="studentLogin" resultType="com.example.demo.entity.StudentEntity">
        SELECT * FROM student WHERE account=#{account} AND password=#{password}
    </select>

    <select id="teacherLogin" resultType="com.example.demo.entity.TeacherEntity">
        SELECT * FROM teacher WHERE account=#{account} AND password=#{password}
    </select>

    <select id="studentForgetPassword" resultType="com.example.demo.entity.StudentEntity">
        SELECT * FROM  student WHERE account=#{account}
    </select>

    <select id="teacherForgetPassword" resultType="com.example.demo.entity.TeacherEntity">
        SELECT * FROM  teacher WHERE account=#{account}
    </select>

    <select id="studentGetInfo" resultType="com.example.demo.entity.StudentEntity">
        SELECT * FROM student WHERE account=#{account}
    </select>

    <select id="teacherGetInfo" resultType="com.example.demo.entity.TeacherEntity">
        SELECT * FROM teacher WHERE account=#{account}
    </select>

    <select id="studentChangePassword">
        UPDATE student SET password=#{password} WHERE account=#{account}
    </select>

    <select id="teacherChangePassword">
        UPDATE teacher SET password=#{password} WHERE account=#{account}
    </select>

    <select id="studentChangeEmail">
        UPDATE student SET email=#{email} WHERE account=#{account}
    </select>

    <select id="teacherChangeEmail">
        UPDATE teacher SET email=#{email} WHERE account=#{account}
    </select>

</mapper>