<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://111.230.104.29:3306/BeefcakeCourse</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.example.demo.Entity.CourseEntity"/>
        <mapping class="com.example.demo.Entity.QuestionEntity"/>
        <mapping class="com.example.demo.Entity.SeminarEntity"/>
        <mapping class="com.example.demo.Entity.StudentEntity"/>
        <mapping class="com.example.demo.Entity.TeacherEntity"/>
        <mapping class="com.example.demo.Entity.TeamEntity"/>
        <mapping class="com.example.demo.Entity.TeamSeminarEntity"/>
        <mapping class="com.example.demo.Entity.TeamStudentEntity"/>
        <mapping class="com.example.demo.Entity.UserEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>